---
---

@import "{{ site.theme }}";
body {
  background-color: white;
  background-image: none;
}

#banner {
  background: black;
  font-color: white;
  border: 0;
}

#banner .button {
  background-color: #cecece;
}

#banner ul li a.button {
  background-color: #cecece;
}

header h1 {
  font: 40px/48px "Calibri", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
